.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width:$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;

  &--colored {
    background-color: #81b3d2;
    color: #ffffff;
  }

  &--grey {
    background-color: #eeeeee;
  }

  @media (min-width:$tablet-width) {
    width: 256px;
    min-height: 256px;
  }

  @media (min-width:$desktop-width) {
    width: 400px;
  }
}

.advantages__item--amenities {
  @media (min-width:$tablet-width) {
    min-height: 331px;
  }
}

.advantages__item img {
  display: block;
  width: 100%;
}

.advantages__item--img {

  @media (min-width:$tablet-width) {
    width: 512px;
  }

  @media (min-width:$desktop-width) {
    width: 800px;
  }
}

.advantages__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 38px 0 12px 0;

  @media (min-width:$tablet-width) {
    font-size: 21px;
    padding: 53px 20px 13px 20px;
  }

  @media (min-width:$desktop-width) {
    padding: 53px 100px 13px 100px;
  }

  &--amenities {
    text-align: start;
    padding: 33px 0 16px 65px;

    @media (min-width:$tablet-width) {
      padding-top: 153px;
      text-align: center;
    }

    @media (min-width:$desktop-width) {
      padding: 165px 63px 16px 63px;
    }
  }

  &--first {
    padding-top: 49px;
  }

  &--grey {
    padding-top: 24px;

    @media (min-width:$desktop-width) {
      padding-top: 56px;
    }
  }
}

.advantages__description {
  margin: 0;
  text-align: center;
  padding: 17px 18px 36px 18px;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    padding-top: 22px;
  }

  &--amenities {
    text-align: start;
    padding: 0 20px 0 65px;

    @media (min-width:$tablet-width) {
      text-align: center;
      padding: 10px 44px 0 44px;
      margin-top: -11px;
    }

    @media (min-width:$desktop-width) {
      padding: 19px 58px 0 58px;
    }
  }

  &--grey {
    padding-bottom: 24px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.advantages__count {
  text-align: center;
  display: block;
}

.advantages__icon {
  position: absolute;
  top: 23px;
  left: 18px;

  @media (min-width:$tablet-width) {
    width: 77px;
    height: 72px;
    top: 56px;
    left: 89px;
  }

  @media (min-width:$desktop-width) {
    top: 66px;
    left: 161px;
  }
}

.advantages__description--souvenirs {
   padding-bottom: 46px;
}

