.button {
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}
