.button {
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: #81B3D2;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}
