.catalog-intro__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding-top: 37px;
  text-transform: uppercase;

  @media (min-width)
}

.catalog-intro__description {
  margin: 0 auto;
  padding: 25px 20px;
  padding-bottom: 36px;
  text-align: center;
  text-transform: uppercase;
}
