.catalog-presentation__title {
  margin: 0 auto;
  text-align: center;
  padding: 17px 0 33px 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.catalog-presentation__description {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 38px;
  text-transform: uppercase;
}

.catalog-presentation__preview {
  display: block;
  margin: 0 auto;
}
