.catalog-pictures__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width:$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px;
  }

  @media (min-width:$desktop-width) {
    margin: 0;
  }

}

.catalog-pictures__item {
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 20px;

  @media (min-width:$tablet-width) {
    width: 324px;
    padding: 0;
    border: none;
    &--first {
      width: 648px;
    }
  }

  @media (min-width:$desktop-width) {
    width: 400px;
    padding: 0;
    border: none;
    &--first {
      width: 1200px;
    }
  }
}

.catalog-pictures__image {
  display: block;
  margin: 0 auto;
}

.catalog-pictures img {
  width: 100%;
}

.catalog-pictures__caption {
  text-transform: uppercase;
  font-weight: 700;
}

