.catalog-presentation__title {
  margin: 0 auto;
  text-align: center;
  padding: 13px 0 28px 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.catalog-presentation__description {
  margin: 0 auto;
  text-align: center;
  padding: 38px 26px;
  padding-top: 0;
  text-transform: uppercase;
}

.catalog-presentation__preview {
  display: block;
  margin: 0 auto;

  @media (min-width:$tablet-width) {
    min-height: 500px;
    padding-left: 60px;
    padding-right: 60px;
    width: 648px;
  }

  @media (min-width:$desktop-width) {
    padding-left: 200px;
    padding-right: 200px;
    width: 800px;
  }
}

.catalog-presentation {
  margin-bottom: -4px;
}
