.catalog-presentation__title {
  margin: 0 auto;
  text-align: center;
  padding: 13px 0 28px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-top: -16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
  }
}

.catalog-presentation__description {
  margin: 0 auto;
  text-align: center;
  padding: 38px 26px;
  padding-top: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 5px 153px 87px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 369px 87px;
  }
}

.catalog-presentation__preview {
  display: block;
  margin: 0 auto;
  min-height: 177px;
  width: 280px;

  @media (min-width: $tablet-width) {
    min-height: 500px;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.catalog-presentation {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 103px;
  }
}

.catalog-presentation__video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-presentation__button {
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}
