.catalog-pictures__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.catalog-pictures__item {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 20px 63px 20px;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0;
    border: none;
    padding-bottom: 16px;
    background-color: #f2f2f2;

    &--first {
      width: 100%;
    }

    &--gray {
      background-color: #eaeaea;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 0;
    border: none;

    &--first {
      width: 1200px;
    }
  }

  &--first {
    border-top: 1px solid #e5e5e5;
  }
}

.catalog-pictures__image {
  display: block;
  margin: 0 auto;
  position: relative;
}

.catalog-pictures img {
  width: 100%;
  height: auto;
  display: block;
}

.catalog-pictures__caption {
  padding-top: 16px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 80px;
    padding-left: 24px;
    padding-top: 19px;

    &--first {
      padding-left: 21px;
      padding-top: 22px;
    }
  }
}

.catalog-pictures__name {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0;
  width: 80%;
}

.catalog-pictures__author {
  @media (min-width: $desktop-width) {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
  }
}

.catalog-pictures__like {
  position: absolute;
  top: 68px;
  left: -6px;

  @media (min-width: $tablet-width) {
    top: auto;
    left: auto;
    bottom: 9px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    bottom: 26px;
    right: 20px;
  }
}
