.catalog-pictures__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width:$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px;
  }

  @media (min-width:$desktop-width) {
    margin: 0;
  }

}

.catalog-pictures__item {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 20px 63px 20px;

  @media (min-width:$tablet-width) {
    width: 324px;
    padding: 0;
    border: none;
    padding-bottom: 16px;
    background-color: #f2f2f2;

    &--first {
      width: 648px;
    }

    &--gray {
      background-color: #EAEAEA;
    }
  }

  @media (min-width:$desktop-width) {
    width: 400px;
    padding: 0;
    border: none;
    &--first {
      width: 1200px;
      padding-bottom: 16px;
    }
  }

  &--first {
    border-top: 1px solid #e5e5e5;
  }
}

.catalog-pictures__image {
  display: block;
  margin: 0 auto;
}

.catalog-pictures img {
  width: 100%;
  height: auto;
}

.catalog-pictures__caption {
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 10px;
  position: relative;

  @media (min-width:$tablet-width) {
    padding-left: 20px;
    padding-top: 16px;
  }

  @media (min-width:$desktop-width) {
    margin-top: -80px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.catalog-pictures__author {

  @media (min-width:$tablet-width) {
    padding-left: 20px;
  }

  @media (min-width:$desktop-width) {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
  }
}

.catalog-pictures__like {
  position: absolute;
  top: 372px;
  left: 14px;

  @media (min-width:$tablet-width) {
    top: auto;
    left: auto;
    bottom: 26px;
    right: 20px;
  }

  @media (min-width:$desktop-width) {
    bottom: 11px;
    right: 20px;
  }

  &--count {
    font-weight: 700;
    margin-left: 4px;

    @media (min-width:$tablet-width) {
      margin-left: 0;
    }

    @media (min-width:$desktop-width) {
      color: #ffffff;
    }
  }

  &--button {
    border: none;
    background-color: transparent;

    @media (min-width:$desktop-width) {
      fill: #ffffff;
    }
  }
}


