.copyright__description {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  padding-top: 8px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  padding-top: 40px;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
  }
}

.copyright__link {
  display: flex;
  flex-direction: row;
  gap: 12px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}
