.form-page-intro__title {
  margin: 0 auto;
  text-align: center;
  padding: 36px 0 24px 0;
  font-size: 18px;
  line-height: 26px;
}

.form-page-intro__description {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 28px;
}
