.hero-block-main {
  position: relative;
  background-image: url(../img/content/main-hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  min-height: 389px;
  padding-top: 90px;
  text-align: center;
  background-color: #f2f2f2;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url(/img/content/main-hero-bg-mobile@2x.jpg);
  }

  @media (min-width: $tablet-width) {
    background-image: url(/img/content/main-hero-bg-tablet.jpg);
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url(/img/content/main-hero-bg-tablet@2x.jpg);
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url(/img/content/main-hero-bg-desktop.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(/img/content/main-hero-bg-desktop@2x.jpg);
    }
  }
}

.hero-block-main__logo {
  margin: 0 auto;
  display: block;
  width: 282px;
  height: 214px;

  @media (min-width: $tablet-width) {
    width: 460px;
    height: 350px;
    margin-top: -13px;
  }
}

.hero-block-intro {
  position: relative;
}

.hero-block-intro__slogan {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 32px 25px 33px;
  text-align: center;
  min-width: 284px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 48px 126px 20px 124px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 357px 20px 357px;
  }
}

.hero-block-intro__description {
  margin: 0;
  text-transform: uppercase;
  padding: 36px 18px;
  padding-top: 3px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
  }
}

.hero-block-main::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  left: 0;
  background-image: url(/img/decor/hero-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-block-intro::before {
  content: "";
  position: absolute;
  top: 222px;
  width: 100%;
  height: 21px;
  left: 0;
  z-index: 2;
  background-image: url(/img/decor/hero-intro-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 321px) {
    display: none;
  }
}
