.hero-block-main {
  background-image: url(../img/content/main-hero-background.jpg);
  background-repeat: no-repeat;
  min-height: 389px;
  background-color: #f2f2f2;
  background-size: cover;
}

.hero-block-main__logo {
  margin: 0 auto;
  display: block;
  padding: 90px 19px;
  padding-bottom: 85px;
}

.hero-block-intro__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 32px 18px;
  text-align: center;
  min-width: 284px;
  font-family: Roboto, sans-serif;
}

.hero-block-intro__description {
  margin: 0;
  text-transform: uppercase;
  padding: 16px 18px;
  padding-top: 3px;
  text-align: center;
}
