.hero-block {
  background-image: url(/img/content/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  min-height: 158px;
  background-color: #f2f2f2;
  background-size: cover;

  @media (min-width:$tablet-width) {
    background-image: url(/img/content/hero-bg-tablet.jpg);
  }

  @media (min-width:$desktop-width) {
    background-image: url(/img/content/hero-bg-desktop.jpg);
  }
}

.hero-block__image {
  margin: 0 auto;
  display: block;
  padding: 50px 19px;
  padding-bottom: 68px;
}
