.hero-block {
  background-image: url(../img/content/hero-background.jpg);
  background-repeat: no-repeat;
  min-height: 158px;
  background-color: #f2f2f2;
  background-size: cover;
}

.hero-block__image {
  margin: 0 auto;
  display: block;
  padding: 50px 19px;
  padding-bottom: 68px;
}
