.hero-block-main {
  position: relative;
  background-image: url(/img/content/main-hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  min-height: 389px;
  background-color: #f2f2f2;
  background-size: cover;

  @media (min-width:$tablet-width) {
    background-image: url(/img/content/main-hero-bg-tablet.jpg);

    @media (min-resolution: 2dppx) {
      background-image: url(/img/content/main-hero-bg-tablet@2x.jpg);
    }
  }

  @media (min-width:$desktop-width) {
    background-image: url(/img/content/main-hero-bg-desktop.jpg);
  }
}

.hero-block-main__logo {
  margin: 0 auto;
  display: block;
  padding: 90px 19px;
  padding-bottom: 85px;
}

.hero-block-intro__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 32px 18px;
  text-align: center;
  min-width: 284px;
}

.hero-block-intro__description {
  margin: 0;
  text-transform: uppercase;
  padding: 16px 18px;
  padding-top: 3px;
  text-align: center;
}

.hero-block-main:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  left: 0;
  background-image: url(/img/decor/hero-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}
