.hotel-search {
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
  padding: 43px 0 49px 0;
}

.hotel-search__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.hotel-search__description {
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.hotel-search__search-button {
  padding: 16px 49px;
}
