.hotel-search {
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
  padding: 38px 0 49px 0;
}

.hotel-search__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.hotel-search__description {
  margin: 0 auto;
  padding-bottom: 32px;
}

.hotel-search__search-button {
  padding: 16px 49px;
}
