.like__button {
  border: none;
  background-color: transparent;

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}

.like__icon {
  color: rgba(0, 0, 0, 0.3);

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.like__count {
  font-weight: 700;
  margin-left: 4px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}
