.main-footer {
  padding: 39px 0 23px 0;
  background-color: #ffffff;
  text-align: center;
}

.main-footer__hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 33px;
  margin: 0 auto;
}

.main-footer__copyright-description {
  text-transform: uppercase;
}

