.main-footer {
  padding: 16px 0 23px 0;
  background-color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 97px;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
    align-content: center;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
    padding-left: 104px;
  }
}

.main-footer__hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 33px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
    padding-left: 17px;
  }
}

.main-footer__social {
  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 21px;
  }
}
