.main-header {
  background-color: #ffffff;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

.main-header__logo {
  display: block;
  text-align: center;
  height: 96px;
  width: 185px;
  margin: 0 auto;
  margin-bottom: -96px;
  z-index: 2;
}

.main-header__logo img {
  width: 185px;
  height: 96px;
}
