.review-form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.review-form__label {
  text-transform: uppercase;
  &--control {
   font-size: 18px;
   line-height: 26px;
   font-weight: 700;
   text-align: start;
   padding-left: 82px;
   padding-top: 16px;
  }
}

.review-form__group {
  display: flex;
  flex-direction: column;
}

.review-form__caption {
  font-size: 12px;
  text-transform: uppercase;
}

.review-form__text-input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
  background-color: #F2F2F2;
  border: none;
}

.review-form__name-input {
  width: 280px;
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  padding-left: 16px;
}

.review-form__phone-input {
  width: 280px;
  height: 58px;
  background-color: #F2F2F2;
  border: none;
}

.review-form__email-input {
  width: 280px;
  height: 58px;
  background-color: #F2F2F2;
  border: none;
}

.review-form__submit-button {
  margin-top: 56px;
}
