.social__list {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width:$tablet-width) {
    padding-left: 11px;
  }
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  padding: 12px;
  color: #ffffff;

  &:hover {
    background-color: #669EC0;
  }

  &:active {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3);
  }
}

.social__link--icon {
  width: 24px;
  height: 24px;
}
