.social__list {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
